SHOPIFY_API_KEY=f372fee70d8952f29d00eada40e93972
SHOPIFY_API_SECRET=0a49f55369e574630b76bdf45be1584e
B2B_PREFIX=PortalSphere_B2B_
B2C_PREFIX=PortalSphere_B2C_
HYBRID_PREFIX=PortalSphere_HYBRID_
SCOPES=read_customers,read_discounts,read_products,write_customers,write_discounts,write_products
ENCRYPTION_STRING=0a49f55369e574630b76bdf45be1584e
PORT=3000
HOST=localhost:3000
DATABASE_URL=postgresql://postgres:slayer@localhost:5432/portal_sphere_db
BILLING_IS_TEST=true
APP_NAME=portal-sphere-app
CANCEL_ENABLED=true
BILLING_INTERVAL_DAYS=30
ONBOARDING_VIDEO_URL=https://www.youtube.com/watch?v=dQw4w9WgXcQ
BREVO_API_KEY=your-brevo-api-key
NOTIFICATION_EMAIL=notifications@b2bplus.io
