.shopify/
.vscode/
node_modules
/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite


!.env.example
.env.portalsphere
shopify.app.b2bplus-additional.toml
shopify.app.faisal-test-app-2.toml
shopify.app.toml
/extensions/draft-order-discount/dist/
config.bat
